




form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgb(0, 0, 0);
  padding: 0;
}

input,
textarea {
  padding: 5px;
  background-color: black;
  color: rgb(255, 255, 255);
  margin: 5px;
}
input  {
  height: 30px;
  width: 300px;
}
textarea {
  height: 60px;
  width: 75% ;
  resize: none;
  border-radius: 7px;
}

form button {
  position: absolute;
  margin: 5px;
  top: 0;
  right: 0;
  padding: 5px;
}

.TaksListITems {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  list-style: none;
  text-align: center;
  background-color: black;
  padding: 5px;
  margin: 5px;
}




.toDoListItem {
  background-color: rgb(187, 246, 255);
  border: 2px solid rgb(187, 194, 254);
  border-radius: 7px;
  margin: 5px 0;
  width: 300px;
  height: 100px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);

}

.itemHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgb(156, 216, 255);
}

.toDoListItem div button {
  border: 0;
  height: 50;
  width: 25px;
  padding: 5px;
  font-size: 12px;
  font-weight: bolder;
  align-self: center;
  cursor: pointer;
  margin: 0;
  background-color: rgb(15, 183, 229);
}

.listItem:hover,
.listItem:focus {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.toDoListItem div button:hover,
.toDoListItem div button:focus {
  box-shadow: 0 0 1px black;
}

.toDoListItem h4 {
  margin: 0;
  padding: 4px;
}
.toDoListItem p {
  margin: 8px;
  font-size: 12px;
}
