

.rowImages{
    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    align-content: space-around;
    gap: 20px;
    width: 100%;
    

}
.rowImage{
    width: 400px;
    height:auto;
    
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white ;
    
}

img{
    width: 90%;
    height: auto;
    margin: 20px;
    
}

.rowImage:hover{
    opacity: .7;
}
.fullScreenImageBackground-active{
    z-index: 21;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 99vw;
    height: 99vh;
    background-color: rgba(41, 40, 53, 0.325);
    
}

.fullScreenImageBackground{
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 99vw;
    height: 99vh;
    background-color: rgba(41, 40, 53, 0.325);
    visibility: hidden;
}
.fullScreenImage{
    position: relative;
    display: flex;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    height: 99%;
    background-color: rgba(0, 0, 0, 0.505);

}
.fullScreenImage img{
    
    padding: 20px;
    height: auto;
    width: 70%;
    margin: auto;
}



@media screen and (max-width: 960px) {
    .fullScreenImage img{
        
        padding: 20px;
        width: 90%;
        height: auto;
        margin: auto;
        
    }
}